* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #f4f4f4;
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #009688, #4527a0);
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search input {
    border: 0;
    outline: 0;
    background: #fff;
    color: #333;
    padding: 12px 25px;
    border-radius: 30px;
    height: 50px;
    flex: 1;
    margin-right: 16px;
    font-size: 16px;
}

.search button {
    border: 0;
    outline: 0;
    background: #fff;
    border-radius: 50%;
    width: 50px; 
    height: 50px;
    cursor: pointer;
}

.search button img {
    width: 20px;
}

.weather-icon {
    width: 120px;
    margin-top: 20px; 
}

.weather h1 {
    font-size: 60px;
    font-weight: 500;
}

.weather h2 {
    font-size: 30px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    margin-top: 30px;
}

.col {
    display: flex;
    align-items: center;
    text-align: center;
}

.col img {
    width: 30px;
    margin-right: 10px;
}

.humidity,
.wind {
    font-size: 22px;
    margin-top: -4px;
}

.weather {
    display: none;
}
